nav{
    background-color: white;
    padding: 50px 190px 20px 10px;
}

li{
    display: inline;
}

a:hover{
    color: green;
}

nav a{
    text-decoration: none;
    font-family: ;
    padding: 30px;
    color: black;
}

#qubelogo{
 float: left;
 margin: 0px 100px 0px 200px;
}

body{
    margin: 0px auto 0px auto;
}

hr{
    width: 100%;
    margin : 50px 0px 0px 0px;
}

#afbeeldingslogan{
    width: 1200px;
    margin: 0px 0px 0px 150px;
}