nav{
    background-color: white;
    padding: 50px 190px 20px 10px;
}

li{
    display: inline;
}

ul{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
a:hover{
    color: green;
    text-decoration: underline;
}

nav a{
    text-decoration: none;
    font-size: 12pt;
    padding: 30px;
    color: black;
}

#qubelogo{
 float: left;
 margin: 0px 100px 0px 200px;
}

body{
    
}

hr{
    width: 100%;
    margin : 50px 0px 0px 0px;
}

#afbeeldingslogan{
    display: block;
    width: 1200px;
    margin: 0px auto 0px auto;
}

#zaterdag{
    text-align: center;
    margin: 50px auto 0px auto;
    color: red;
}

